{% block body_content %}

<h1> Welcome to the Board Game Cafe! </h1>
<p> -------------------- </p>

<h2> Games in stock: </h2>
<p> -------------------- </p>

{% for games in games %}

<p> ID: {{ games.gid }} </p>
<p> Game: {{ games.name }} </p>
<p> -------------------- </p>

{% endfor %}

<h2> Current reservations: </h2>
<p> -------------------- </p>

{% for customers in customers %}

<p> ID: {{ customers.cid }} </p>
<p> Name: {{ customers.name }} </p>
<p> Table: {{ customers.table_ }} </p>
<p> Game: {{ customers.fk_gid }} </p>
<p> -------------------- </p>

{% endfor %}

{% endblock body_content %}
